/* 容器样式 */

.container {
    text-align: center;
}

.box {
    width: 375px;
    height: 400px;
    background-color: rgb(242, 253, 208);
    border: 5px outset #98bf21;
    margin: auto;
}

.top {
    /* width: 100%; */
    height: 120px;
    /* background-color: blue; */
}

.middle {
    padding-top: 20px;
    height: 280px;
}

.bottom {
    /* width: 100%; */
    height: 100px;
    /* background-color: green; */
}

.account_and_password div {
    margin-top: 20px;
}


/* 字体样式 */

.bottom_text {
    float: right;
    margin-right: 20px;
    color: gray;
}
.message{
	color:rgb(0,0,0,0.4);
}

/* 组件 */

.account_and_password input[type=text],
.account_and_password input[type=password] {
    width: 240px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid rgb(214, 214, 214);
    outline: none;
    float: right;
    margin-right: 20px;
    padding-left: 10px;
}

.account_and_password label {
    font-size: 20px;
    /* line-height: 20px; */
    text-align: center;
    color: rgb(78, 78, 78);
    font-weight: 600;
}

.account_and_password input[type=text]:focus,
.account_and_password input[type=password]:focus {
    background-color: lightblue;
}

.button {
    margin-top: 15px;
    display: inline-block;
    background-color: #4CAF50;
    border-radius: 15px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    height: 60px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}